:root {
  --vertical-gap: 20px;
  --search-bar-big-height: 70px;
  --search-bar-small-height: 42px;
  --background-size-big: 19px;
  --background-size-small: 11px;
  --background-left-offset-big: 25px;
  --background-left-offset-small: 12px;
  --background-top-offset-big: 24px;
  --background-top-offset-small: 14px;
  --horizontal-padding-big: 62px;
  --horizontal-padding-small: 33px;
  --font-colour: rgba(61, 78, 97, 1);
  --shadow-colour-dark: rgba(0, 0, 0, 0.25);
  --shadow-colour-light-opacity-20: rgba(61, 78, 97, 0.2);
  --shadow-colour-light-opacity-10: rgba(61, 78, 97, 0.1);
  --border-colour: rgba(225, 231, 237, 1);
  --background-gradient-focus: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(246, 246, 247, 1)
  );
}
